# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.mo

# Virtual Environment
venv/

# JetBrains IDEs (e.g., PyCharm)
.idea/

# OS
.DS_Store

# Coverage files
.coverage
htmlcov/

# Pytest cache
.pytest_cache/